<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSPLAYGROUND</title>
  </head>
  <body>
    <nav></nav>
    <div class="title">
      <h1>NOTHING SPECIAL</h1>
    </div>
    <div class="wrapper">
      <div class="wrapper__todo" id="Todo">
        <h2>ToDo</h2>
        <form id="form"></form>
      </div>
    </div>
  </body>
</html>
